.breweryCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(17, 17, 17, 0.2);
	border-radius: 2px;
	margin: 12px 26px;
	justify-content: space-between;
	padding: 16px 0px;
	width: 290px;
	text-align: center;
}

.breweryCard h1 {
	padding: 0 6px;
}

.breweryCard img {
	height: 255px;
	width: 255px;
	object-fit: cover;
	margin: 0 16px;
}

.rating {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 6px;
}

.rating span {
	color: orange;
	font-size: 18px;
	margin: 0 4px;
}