.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	background-color: #343a40;
}

.navbar .title {
	font-family: 'Barriecito', cursive;
}

.navbar ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	flex: 1;
}

.navbar li {
	padding: 0;
	margin: 0 16px;
}

.navbar li a {
	text-decoration: none;
	color: #fff;
	font-size: 2em;
}

ul.userState {
	justify-content: flex-end;
}